:root {
  --color-blue: #232d51;
  --color-pink: #fc4450;
  --color-white: #ebebed;
}

body {
  background: var(--color-white);
}

/* Header Section */
header {
  padding: 30px 0;
}
header .logo h1 {
  text-transform: uppercase;
  font-family: OpenSans;
  font-size: 20px;
  font-weight: 800;
  color: var(--color-blue);
}
header .logo h1 > span {
  color: var(--color-pink);
}
header nav ul {
  float: right;
  margin: 5px 0;
}
header nav ul li {
  float: left;
  list-style-type: none;
  margin-left: 50px;
}

header nav ul li a {
  display: inline-block;
  font-family: Mada;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  color: var(--color-blue);
}
/* End of Header Section */

/* Hero Section */
section.hero {
  height: 700px;
  padding-bottom: 30px;
  background: var(--color-white);
}
.hero .hero__text {
  position: relative;
  top: 165px;
}
.hero .hero__text h1 {
  text-transform: capitalize;
  font-size: 50px;
  font-weight: 800;
  color: var(--color-blue);
  font-family: Montserrat;
  line-height: 55px;
  margin-bottom: 20px;
}
.hero .hero__image {
  height: auto;
  width: 100%;
  position: relative;
  top: 165px;
}
.hero .hero__image img {
  height: auto;
  width: 100%;
  display: block;
}
/* End of Hero Section  */
